<!-- app/views/widgets/tables/_table.html.erb -->
<%
  # Props/Inputs
  headers ||= []
  data ||= []
  actions ||= nil
  empty_message ||= "No hay datos disponibles"
  classes ||= ""
  striped ||= true
  hoverable ||= true
%>

<div class="table-widget <%= classes %>">
  <% if data.any? %>
    <div class="table-container">
      <table class="table <%= 'table-striped' if striped %> <%= 'table-hover' if hoverable %>">
        <% if headers.any? %>
          <thead>
            <tr>
              <% headers.each do |header| %>
                <th><%= header %></th>
              <% end %>
              <% if actions %>
                <th>Acciones</th>
              <% end %>
            </tr>
          </thead>
        <% end %>
        <tbody>
          <%= yield %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'widgets/alerts/empty_state', message: empty_message %>
  <% end %>
</div>